<!-- Centered meta info -->
<div class="py-3 text-center">
  <small id="copyright" class="text-muted">&copy; 2019<span id="copyright-current-year"></span> Mostermind</small>
</div>

<!-- JavaScript -->
<script src="/js/main.js"></script>
<script src="/js/authentication.js"></script>