<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <form class="form-inline" action="">
          <input type="text" class="form-control" id="login-username" placeholder="Username">
          <input type="password" class="form-control" placeholder="Password">
          <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
