.modal form {
  text-align: left;
}

  #password-verify {
    margin-top: 5px;
  }

#tldr {
  font-weight: bold;
}

#bio-div {
  cursor: pointer;
}

  #editBtn {
    display: none;
    padding: 0 10px;
  }
  #editBtn:hover {
    text-decoration: none;
  }