.modal form {
  text-align: left;
}

  #password-verify {
    margin-top: 5px;
  }

#tldr {
  font-weight: bold;
}

#bio-div {
  cursor: pointer;
}

  #editBtn {
    display: none;
    padding: 0 10px;
  }
  #editBtn:hover {
    text-decoration: none;
  }

#gamesAccordion .list-group-item {
  border: none;
}

.list-group-item.match-group-item.active {
  background-color: slateblue !important;
  border-color: slateblue !important;
}

.user-range:disabled::-webkit-slider-thumb { background: dodgerblue; }
.user-range:disabled::-moz-range-thumb { background: dodgerblue; }
.user-range:disabled::-ms-thumb { background: dodgerblue; }
.match-range:disabled::-webkit-slider-thumb { background: slateblue; }
.match-range:disabled::-moz-range-thumb { background: slateblue; }
.match-range:disabled::-ms-thumb { background: slateblue; }