.navbar-right form {
  height: 50px;
}

.navbar-right form input, .navbar-right form button {
  margin: 8px 0;
}

.modal form {
  text-align: left !important;
}

#password-verify {
  margin-top: 5px;
}