<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | About</title>
</head>

<body>

  <% include ../partials/nav-logged-out.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>For many of us, games are all about people we meet along the way.</h1>
        <p class="lead">Finding the right sparring partners, however&#8212;and building a lasting, meaningful team dynamic&#8212;can be tough, to say the least.</p>
        <p>We've all been there before.</p>
      </div>
    </div>

  </div>

  <% include ../partials/signup.ejs %>
  <% include ../partials/login.ejs %>

</body>
</html>
