<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | About</title>
</head>

<body>

  <% include ../partials/nav-logged-out.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>About Squadfinder</h1>
        <p class="lead">Honestly, a site like this is long overdue.</p>
        <p>We've seen game forums, communities, and Discord servers all try to advertise, but it's far from easy. On top of that, it's a gamble every time you bring someone new into the group&#8212;or try to find a new friend.</p>
        <p>We're here to elimiate these problems.</p>
        <p>By using our preferences system, we hope to help people find who they're looking for. For groups, we provide a platform to advertise and find new members.</p>
        <p>Once you've reviewed a match, you have the option to ignore it, delete it, or send the person a message on our <a href="https://discordapp.com"><i class="fab fa-discord"></i> Discord</a>. If all goes well, just mark the successful match on your account and we'll take it out of your queue.</p>
        <p>We built Squadfinder because we wanted it ourselves. We hope that, with a little bit of help from us, you can find the like-minded gamers you're looking for.</p>

        <div class="row">
          <div class="col-md-6 mb-2">
            <% include ../partials/signup-btn.ejs %>
          </div>
          <div class="col-md-6 mb-2">
            <% include ../partials/login-btn.ejs %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% include ../partials/signup-modal.ejs %>
  <% include ../partials/login-modal.ejs %>

  <% include ../partials/footer.ejs %>
</body>
</html>
