<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | Add Games</title>
</head>

<body>

  <% include ../partials/nav-logged-in.ejs %>

  <div class="container">
    <h1>Add Games</h1>
    <p class="lead">Select an item below to define your metrics and add it to your matchmaking queue.</p>
    <div class="row">
      <div id="add-game-div" class="col-md-8">
        <h2>Popular Titles</h2>
        <div id="gameList">

        </div>
      </div>

      <div class="col-md-4">
        <h2>Find a Game</h2>
        [Coming Soon]
      </div>
    </div>

  </div>
  <% include ../partials/logout-modal.ejs %>

  <div class="modal fade" id="add-game-modal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="add-game-title">Add Game</h2>
        </div>
        <div class="modal-body">
          <form>
            <!-- add metric sliders here -->
            <div class="form-group">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" name="addgame" id="addGame" value="addGame" data-dismiss="modal">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
