<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | Admin</title>
</head>

<body>

  <% include ../partials/nav-logged-in.ejs %>

  <div class="container">
    <h1>Admin</h1>
    <p class="lead"><%= username %></p>
    <div class="row">
      <div id="bio-div" class="col-md-8">

      </div>

      <div class="col-md-4">

      </div>
    </div>

  </div>
  <% include ../partials/logout-modal.ejs %>


  <% include ../partials/footer.ejs %>
</body>
</html>
