<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav-logged-out.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Find your sparring partner</h1>
    <p>It's not a romantic thing. You just need somebody who's got your back.</p>
    <% include ../partials/signup.ejs %>
    <% include ../partials/login.ejs %>
  </div>
</div>

</body>
</html>
