<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | Find your sparring partner</title>
</head>

<body>

  <% include ../partials/nav-logged-out.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Find your sparring partner</h1>
      <p>It's not a romantic thing. You just need somebody who's got your back.</p>
  
      <div class="col-md-4 col-sm-12 mx-auto">
<% include ../partials/signup-btn.ejs %>
<% include ../partials/login-btn.ejs %>
      </div>
    
    </div>

  </div>

  <% include ../partials/signup-modal.ejs %>
  <% include ../partials/login-modal.ejs %>

</body>
</html>
