<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | Profile</title>
</head>

<body>

  <% include ../partials/nav-logged-out.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Find your sparring partner</h1>
    <p>It's not a romantic thing. You just need somebody who's got your back.</p>
    <%= username %>
    <%= bio %>
    
  </div>
</div>

</body>
</html>
